import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.pyplot import cm
from datetime import datetime
import numpy as np
import matplotlib.dates as mdates
import matplotlib.cbook as cbook
#%matplotlib inline
pd.options.mode.chained_assignment = None
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import TimeSeriesSplit
from sklearn.preprocessing import MinMaxScaler
from sklearn import linear_model